[Unit]
Description=D&D Beyond Importer Proxy Server
Required=cloudflared@foundryvtt.service
After=cloudflared@foundryvtt.service

[Container]
Pod=foundryvtt.pod
ContainerName=ddb-proxy
Image=ghcr.io/mrprimate/ddb-proxy:latest
AutoUpdate=registry

Environment=VIRTUAL_HOST=ddb-proxy.renkin42.dev
Environment=VIRTUAL_PORT=443
Environment=PORT=3001

[Install]
WantedBy=default.target
