[Unit]
Description=Foundry Virtial Tabletop Server
Requires=cloudflared@foundryvtt.service
After=cloudflared@foundryvtt.service

[Container]
Pod=foundryvtt.pod
ContainerName=foundryvtt
Image=ghcr.io/felddy/foundryvtt:14
AutoUpdate=registry

Volume=foundryvtt.volume:/data

Environment=FOUNDRY_USERNAME=Renkin42
Environment=FOUNDRY_TELEMETRY=true
Environment=FOUNDRY_HOSTNAME=dnd.renkin42.dev
Environment=FOUNDRY_PROXY_PORT=443
Environment=FOUNDRY_PROXY_SSL=true

Secret=foundry-password,type=env,target=FOUNDRY_PASSWORD
Secret=foundry-admin-key,type=env,target=FOUNDRY_ADMIN_KEY

[Install]
WantedBy=default.target
