[Unit]
Description=Home Assistant home automation server
After=cloudflared@homeassistant.service mosquitto.service zwavejs.service

[Container]
Pod=homeassistant.pod
ContainerName=homeassistant
Image=ghcr.io/home-assistant/home-assistant:stable
AutoUpdate=registry

Volume=homeassistant.volume:/config

[Install]
WantedBy=default.target
