[Unit]
Description=Mosquitto MQTT Server

[Container]
Pod=homeassistant.pod
ContainerName=mosquitto
Imaage=docker.io/library/eclipse-mosquitto:latest
AutoUpdate=registry

Volume=mosquitto.volume:/mosquitto/

[Install]
WantedBy=default.target
