[Unit]
Description=Safeway Employee Electronic Schedule Scraper
After=workcal.service

[Container]
Pod=workcal.pod
ContainerName=scraper
Imaage=ghcr.io/renkin42/sws-scraper:latest
AutoUpdate=registry

Environment=CALDAV_SERVER=http://localhost:5232
Environment=CALDAV_USER=austin
Environment=TZ=America/Los_Angeles
Environment=LOGLEVEL=INFO

Sercrt=safeway-id,type=env,target=SW_ID
Secret=safeway-passwork,type=env,target=SW_PASS
Secret=caldav-password,type=env,target=CALDAV_PASSWORD

[Install]
WantedBy=default.target
