[Unit]
Description=Radicale CalDAV Server

[Container]
Pod=workcal.pod
ContainerName=workcal
Image=docker.io/tomsquest/docker-radicale:latest
AutoUpdate=registry

Volume=workcal.volume:/data

[Install]
WantedBy=default.target
