[Unit]
Description=Vaultwarden Password Manager
After=couldflared@vaultwarden.service
[Container]
Pod=vaultwarden.pod
ContainerName=vaultwarden
Image=ghcr.io/dani-garcia/vaultwarden:latest
AutoUpdate=registry

Volume=vaultwarden.volume:/data

Secret=vaultwarden_admin_token,type=env,target=ADMIN_TOKEN

[Install]
WantedBy=default.target
