[Unit]
Description=CloudFlare Tunnel

[Container]
Pod=%i.pod
ContainerName=%i-cloudflared
Image=docker.io/cloudflare/cloudflared:latest
AutoUpdate=registry

Secret=cloudflare-%i-token,type=env,target=TUNNEL_TOKEN

[Install]
WantedBy=default.target
